// Kanagawa Dragon Theme Color Palette

// Red
$red-light: #c84053;
$red-dark: #c4746e;

// Pink
$pink-light: #b35b79;
$pink-dark: #a292a3;

// Purple
$purple-light: #624c83;
$purple-dark: #8992a7;

// Blue
$blue-light: #4d699b;
$blue-dark: #8ba4b0;

// Teal
$teal-light: #4e8ca2;
$teal-dark: #949fb5;

// Green
$green-light: #6f894e;
$green-dark: #87a987;

// Yellow
$yellow-light: #de9800;
$yellow-dark: #c4b28a;

// Orange
$orange-light: #cc6d00;
$orange-dark: #b6927b;

// Grey
$grey-050: #f9f5d7;
$grey-100: #f2ecbc;
$grey-150: #e5ddb0;
$grey-200: #dcd7ba;
$grey-250: #e7dba0;
$grey-300: #dcd5ac;
$grey-350: #d5cea3;
$grey-400: #c8c093;
$grey-450: #727169;
$grey-500: #716e61;
$grey-550: #625e5a;
$grey-600: #504945;
$grey-650: #3c3836;
$grey-700: #393836;
$grey-750: #282727;
$grey-800: #181616;
$grey-850: #1d1c19;
$grey-900: #12120f;
$grey-950: #0d0c0c;

// White
$white: #f2ecbc;

// Black
$black: #181616;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == 'light', #c84053, #c4746e);
$button-max: if($topbar == 'light', #6f894e, #87a987);
$button-min: if($topbar == 'light', #de9800, #c4b28a);
